{% extends "base.html" %}

{% block content %}
    <h1>TODO list</h1>


{% endblock %}



{% extends "base.html" %}

{% block content %}
  <h1>
    {{ cook.username }}
      <a href="{% url 'kitchen_core:cook-update' pk=cook.id %}" class="btn btn-warning link-to-page">
        update
      </a>
      <a href="{% url 'kitchen_core:cook-delete' pk=cook.id %}" class="btn btn-outline-danger link-to-page">
        Delete
      </a>
  </h1>
  <h2>Cook: {{ cook.first_name }} {{ cook.last_name }} </h2>
  <p>Experience {{ cook.years_of_experience }} years</p>
  <div class="ml-3">
    <h4>Dish</h4>

    {% for dish in cook.dishes.all %}
        <hr>
        <p><strong>Name:</strong> {{ dish.name }}</p>
        <p><strong>Dish Type:</strong> {{ dish.dish_type.name }}</p>

    {% empty %}
      <p>No dish!</p>
    {% endfor %}
  </div>
{% endblock %}